{% extends "base.html.twig" %}

{% block body %}

	<div class="container">
		<h1 class="text-center">Connexion</h1>
		<form action="" method="POST">
			<div class="mb-3">
				<label for="email" class="form-label mt-4">Votre email :</label>
				<input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" name="_username">
			</div>

			<div class=" mb-3">
				<label for="password" class="form-label mt-4">Votre mot de passe :</label>
				<input type="password" class="form-control" id="password" placeholder="Password" name="_password">
			</div>
			<button type="submit" class="btn btn-primary">Se connecter</button>
		</form>
	</div>
{% endblock body %}
