{% extends "base.html.twig" %}

{% block body %}
	<div class="container mt-5">
		<div class="img-fluid">
			<img src="{{ article.image }}" alt="{{ article.title }}">
		</div>
		<div class="content">
			<p class="date">Ecrit le
				{{ article.createdAt | date("m/d/Y") }}
			</p>
			<p class="content">
				{{ article.content }}
			</p>
		</div>
	</div>
{% endblock %}
